:root {
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */



body {
    background-color: white;
    /* height: 100vh; */

}
 
h1{
    font-size: 450%;
}

h2{
    font-family: baskervville;
}

.texts {
    margin: auto;
    /* display: flex;
    flex-direction: column; */
    color: black;
    font-family: poppins;
    
}

.name {
    /* font-size: 3rem; */
    /* position: relative;
    margin-bottom: .5em; */
}

.paragraph {
    /* font-size: 2rem; */
    /* font-weight: 300; */
    --clippy: circle(0% at 50% 50%);

}

.ittem {
    position: relative;
padding-left: 10%;
transition: color .1s;
}


.ittem::before {
    content: "";
    display: block;
    background: black;
    width: 120%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: var(--clippy);
    transition: clip-path 2s;

}


.name:hover::before {
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0 100%);
}

.name:hover + .paragraph::before{
    clip-path: circle(150% at 50% 50%);


}


.name:hover,
.name:hover + .paragraph{
    color: white;
}


@font-face {
    font-family: poppins;
    src: url(TipografiÌas/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: baskervville;
    src: url(TipografiÌas/Baskervville-Italic.ttf);
}

.baskervville{
    font-family: baskervville;
}

.margen{
    margin-bottom: 5%;
}


.nitidez :hover{
    filter:blur(1px);
}